.sidebar {
  background-color: #2165D5;
  grid-area: sidebar;
}
.item a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.item a:hover{
  text-shadow: 2px 1px 1px white;
}
.item a.activeLink{
  color: red;
}