.avatar{
    width: 150px;
    border-radius: 20px;
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
}
.icon{
    width: 25px;
    border-radius: 0;
}
.wall{
    background-image: url("../../../assets/images/wall.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.status{
    font-size: 15pt;
}
.name_status{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    margin: 10px;
}
.name{
    font-size: 18pt;
    font-weight: bold;
}