body{
  height: 100%;
  background-color: pink;
}
.main{
  display: flex;
  flex-direction: column;
  background-color: pink;
  height: 100%;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(64, 95, 131);
  border-radius: 20px;
}
::-webkit-scrollbar-track{
  background-color: #5dcef0;
}
.sidebar_content{
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  background-color: pink;
  width: 50%;
}