.main{
  margin-left: 100px;
  display: grid;
  width: 90%;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "header header" "sidebar content";
  grid-gap: 10px;
}