.main{
  margin-left: 100px;
  display: grid;
  width: 90%;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "header header" "sidebar content";
  grid-gap: 10px;
}
.header img{
  width: 100px;
}
.content img{
  width: 150px;
}
.header{
  background-color: #2165D5;
  grid-area: header;
}
.sidebar{
  background-color: #2165D5;
  grid-area: sidebar;
}
.content{
  background-color: #FFFFFF;
  grid-area: content;
  background-image: url('https://funart.pro/uploads/posts/2022-08/thumbs/1659734108_24-funart-pro-p-fon-dlya-oblozhki-gruppi-vk-krasivo-25.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}