.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

button {
    background-color: rgb(64, 95, 131);
    color: pink;
    border-radius: 20px;
}

button:hover {
    color: #5dcef0;
    box-shadow: 1px 1px rgb(64, 95, 131);
}

.dialogForm textarea{
    width: 200px;
    height: 60px;
}